:root {
    --white: #fff;
    --gray: #f3f3f3;
    --blue: #2f67ff;
    --darkBlue: #3162e9;
    --darkerGray: #ddd;
    --default-border: 1px solid #aaa;
    --default-shadow: 0px 0px 3px #666;
    --default-fontSize: 14px;
    --default-titleSize: 65px;
    --default-borderRadius: 20px;
    --default-transition: .3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

*, ::before, ::after {
    box-sizing: border-box;
    font-family: 'Kulim Park', sans-serif;
    letter-spacing: 1px;
    outline: none;
}

body {
    margin: 0px;
    background: var(--gray);
}

.navbar {
    width: 100%;
    padding: 80px 0px;
    background: var(--blue);
    position: relative;
    z-index: 1;
	box-shadow: var(--default-shadow);
}

.navbar-title {
    margin: 0px;
    font-size: var(--default-titleSize);
    font-weight: 500;
    width: 100%;
    text-align: center;
    text-shadow: var(--default-shadow);
    color: var(--white)
}

.navbar-link:hover {
    border-radius: 3px;
    cursor: pointer;
}

.w3-animate-top {
<<<<<<< HEAD
<<<<<<< Updated upstream
    width: 100%;
=======
    max-width: 1200px;
>>>>>>> Stashed changes
=======
    max-width: 1000px;
>>>>>>> ef0bd9ca86a6d4fba76510e0782b376837518a72
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
	flex-wrap: wrap;
	margin: 0px auto;
}

.note-container {
    width: 300px;
    padding: 20px;
    background: var(--white);
    border-radius: var(--default-borderRadius);
    box-shadow: var(--default-shadow);
    margin: 10px;
    max-height: 300px;
    overflow: hidden;
    position: relative;
	z-index: 20px;
}

.note-container > h3 {
    border-bottom: 1px solid #d5d5d5;
	position: relative;
}

.note-container > p {
	max-width: 230px;
}

.note-container > button {
    position: absolute;
    background: var(--white);
    top: 20px;
    right: 10px;
    line-height: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}

.note-container > button:hover {
    cursor: pointer;
    background: var(--darkerGray);
<<<<<<< HEAD
<<<<<<< Updated upstream
=======
=======
>>>>>>> ef0bd9ca86a6d4fba76510e0782b376837518a72
}

.note-container > .note-menu {
	position: absolute;
	top: -10px;
	right: -10px;
	width: 50px;
	height: 310px;
	background: var(--darkerGray);
	box-shadow: var(--default-shadow);
	padding: 20px 2px 2px 2px;
	display: none;
}

.note-menu-button {
	background: transparent;
	border: none;
	margin-bottom: 2px;
}

.note-menu-button:hover {
	cursor: pointer;
	text-shadow: var(--default-shadow);
	color: var(--blue);
<<<<<<< HEAD
}

.note-add {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--blue);
    box-shadow: var(--default-shadow);
    border: var(--default-border);
    color: var(--white);
    line-height: 10px;
}

.note-add:hover {
    cursor: pointer;
>>>>>>> Stashed changes
=======
>>>>>>> ef0bd9ca86a6d4fba76510e0782b376837518a72
}